    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }    
    
    
    body {
    background: #e6f7ff;
    color: #333333;
    margin-top: 5rem;
    font-family: "Open Sans", serif;
    }
    h1, h2, h3, h4, h5, h6 {
    color: #444444;
    }
    ul {
    margin: 0;
    }
    .bg-steel {
    background-color: #095185;
    }
    .site-header .navbar-nav .nav-link {
    color: #cbd5db;
    }
    .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    }
    .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    }
    .content-section {
    background: #ffffff;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    }
    .article-title {
    color: #444444;
    }
    a.article-title:hover {
    color: #428bca;
    text-decoration: none;
    }
    .article-content {
    white-space: pre-line;
    }
    .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    }
    .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
    }
    .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    }
    .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    }
    .account-heading {
    font-size: 2.5rem;
    }
    .article-metadata a:hover {
    color: #333;
    text-decoration: none;
    }

    
    .text-box {
        width: 85%;
        color: purple;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 10;
    }

    .text-box h1 {
        font-size: 60px;
    }

    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
        color: purple;
    }



    .col-md-4 {
        position: static; 
    }


    .contact-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-height: 80vh;
        padding: 20px;
    }

    .contact-title {
        font-weight: 600;
        color: #4A148C;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .contact-form-box {
        width: 80%;
        border-radius: 12px;
        background: white;
        border: 1px solid white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-form-box h3 {
        font-family: 'Open Sans', serif;
        color: black;
    }

    .btn-info {
        background-color: #5f788a;
        border-color: #5f788a;
        color: white;
    }

    .btn-info:hover {
    background-color: #4c6672;
    border-color: #4c6672;
    }

    .weather-icon {
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 50%; 
    }

    .university-logo {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
        border-radius: 10px; /* Optional for rounded edges */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional for shadow effect */
    }

    .about-title{
        width: 90%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .about-title h1 {
        font-size: 50px;
        color: #333333;
        margin-bottom: 25px;
        position: relative;
    }

    .about-title h1::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        display: block;
        margin: 0 auto;
        background-color: green;
    }

    .about-title p {
        color: #333333;
        margin-bottom: 35px;
        font-size: 18px;
    }

    .about-conatainer{
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-image {
        flex: 1;
        margin-right: 40px;
        overflow: hidden;  
    }

    .about-image img {
        max-width: 100%;
        height: auto;
        display: block;
        transition: 0.5s ease;
    }

    .about-image:hover img{
        transform: scale(1.2);
    }
    
    .about-content{
        flex: 1;
    }

    .about-content h2{
        font-size: 23px;
        margin-bottom: 15px;
        color: #333333;
    }

    .about-content p{
        font-size: 18px;
        line-height: 1.5;
        color: #666;
    }