{% extends "itreporting/base.html" %}
{% load static %}

{% block content %}
    <div class="about-title">
        <h1>About Us</h1>
        {% block sidebar %}
        <div class="col-md-4 weather-box">
            <div class="content-section">
                <h3>Current Weather</h3>
                <ul class="list-group">
                    {% for weather in weather_data %}
                    <li class="list-group-item">
                        <img src="{% static 'images/weather.jpeg' %}" alt="Weather Icon" class="weather-icon mr-2">
                        {{ weather.city }}: {{ weather.description }}, {{ weather.temperature }}°C
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock sidebar %}
        <p>Lorem ipsum dolor sit amet, cu eum dicunt virtute, cum an harum mollis. Sed id exerci ubique, munere perpetua in sed. Usu assum graeci salutandi ea, sed et adhuc detracto interesset. Debet periculis cum in, has vide voluptaria complectitur cu.
        </p>
    </div>
    <div class="about-conatiner">
        <section class="about">
            <div class="about-image">
                <img src="{% static 'images/about.jpg' %}" >
            </div>
            <div class="about-content">
                <h2>The best education</h2>
                <p>Nisl nusquam assueverit sed an, dicta placerat voluptatum ex sit. Te vis labores legendos scriptorem, mei at fugit molestiae adipiscing, est eius alterum persequeris ad. Per consul minimum reprimique cu, atomorum eloquentiam ex nec. Sit et suscipit omittantur dissentiet. Usu virtute aliquam adipisci ut, est no erat nullam.Adhuc convenire pri ne, has malorum fabulas liberavisse ad. Ut duo meis voluptatibus, ut nam petentium interpretaris. Sit ei choro alienum iracundia. Vim cotidieque reprehendunt eu, meis ornatus ad eum, mei ei aliquam vocibus erroribus. Nam sonet dicam possit ad, te omnium theophrastus duo.
                    Tempor omnesque no vim, pri altera quodsi adipiscing ea. Ea pericula expetenda elaboraret cum, et esse omittam phaedrum vix, ius sensibus sadipscing neglegentur ne. Latine mediocrem at vix, eu viris dicant feugait per. Nonumy laboramus ne sea. Te graeco viderer eum, option aperiri vix ex. Ut nostro inimicus consequat eum.</p>
            </div>

        </section>
    </div>
    
{% endblock %}
