{% extends "itreporting/base.html" %}
{% load static %}

{% block content %}
<div class = "contact-conatiner"></div>
    <h1 class="contact-title"> Student Contact Page </h1>
    <div class="row justify-content-center p-2">
        <div class="col-md-12">
            <div class="contact-form-box shadow p-4">
                <h3 class="text-center mb-4">Contact Us</h3>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group" id="contact-form">
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-info btn-lg" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
