<!DOCTYPE html>
<html>
<head>
    <title>IT Issues Reported</title>
</head>
<body>
    <h1>IT Issues Reported</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author.profile }}</a>
                <small class="text-muted">{{ object.date_submitted }}</small>
            </div>
            <h2 class="article-title">{{ object.type }} Issue in Room {{ object.room }}</h2>
            <p class="article-content">{{ object.details }}</p>
        </div>
    </article>
</body>
</html>
