{% extends "itreporting/base.html" %}

{% block content %}
<div class="col-md-12 text-center">
    <div class="profile-section">
        <h3>Your Profile</h3>
        <img 
            src="{{ profile_image }}" 
            alt="Profile Picture" 
            class="rounded-circle img-fluid" 
            style="width: 150px; height: 150px; border: 1px solid #ddd;">
        </div>
    </div>
<div class="container mt-5 text-center">
    <h2>My Registered Modules</h2>
    <div>
        {% for registration in registrations %}
            <p>{{ registration.module.name }} (Registered on {{ registration.registration_date }})
                <a href="{% url 'itreporting:unregister_module' registration.module.id %}" class="btn btn-danger">Unregister</a>
            </p>
        {% empty %}
            <p>You have not registered for any modules yet.</p>
        {% endfor %}
    </div>
</div>


</div>
</div>

{% endblock %}
